@import url(./config.css);

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #f3f3f3;
    height: 100vh;
    width: 100vw;
}

#reversi {
    display: flex;
    height: 100vh;
    padding: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#gameBoard {
    display: grid;

    grid-template-columns: repeat(8, var(--size-item));
    grid-template-rows: repeat(8, var(--size-item));
    grid-auto-flow: row;
    align-content: center;
    justify-content: center;
}

#gameBoard > div {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

#info {
    max-height: 300px;
    overflow-y: scroll;
    height: 300px;
    width: 200px;
}

#rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed;
    height: 99vh;
}

/*#rule > * {*/
/*}*/

#close {
    position: absolute;
    border: none;
    left: calc(100vw - 30px);
    top: 5px;

}

li {
    list-style: none;
}

h4 {
    font-size: 2rem;
}

#reversi {
    display: none;
/*  在文件被关掉之前不展示 */

}

button {
    border: none;
    background-color: #fff;
    height: 30px;
    width: 53px;
}

@media screen and (max-width: 600px) {
    #reversi {
        display: flex;
        flex-direction: column;
    }
}
